// Color Sass variables

$color-primary-moderate-blue: hsl(238, 40%, 52%);
$color-primary-soft-red: hsl(358, 79%, 66%);
$color-primary-soft-green: hsl(125, 40%, 60%);
$color-primary-light-grayish-blue: hsl(239, 57%, 85%);
$color-primary-pale-red: hsl(357, 100%, 86%);

$color-neutral-dark-blue: hsl(212, 24%, 26%);
$color-neutral-grayish-blue: hsl(211, 10%, 45%);
$color-neutral-light-gray: hsl(223, 19%, 93%);
$color-neutral-very-light-gray: hsl(228, 33%, 97%);
$color-neutral-white: hsl(0, 0%, 100%);

// Breakpoint Sass variables

$breakpoint-mobile: 37.5em;
$breakpoint-desktop: 47em;
// $breakpoint-desktop-medium: 105em;
// $breakpoint-desktop-large: 120em;
// $breakpoint-desktop-xlarge: 160em;
